form{
	display: flex;
  flex-direction: column;
}
form label{
	display: block;
	font-size:16px;
	margin-top:10px;
}
form input{
	display: block;
	padding:10px; 
	text-align: left;
}
.help{
	padding:0;
	text-align: left;
	color:var(--color-warning);
}
.btn-info{
	background-color: #5EBC9D;
  border: 2px solid #5EBC9D;
	padding:20px 10px;
	color:white;
	font-weight:500;
	line-height: 7px;
	border:none;
	margin-top:20px;
}
.btn-info:hover{
	box-shadow: 0px 0px 3px var(--color-main);
	background-color:var(--color-main);
	border:none;
}
.errorlist{
	color: darkred;
}