body, html{
	position: relative;
	padding:0;
	margin:0;
	width:100vw;
}
html {
  scroll-behavior: smooth;
}
:root{
	--color-main:#5EBC9D;
	--color-text:#ffffff;
	--color-second:#efefef;
	--color-shadow:#454545;
	--color-warning:#FFAE51;
}
.row{
	justify-content: center;
	align-items: center;
	margin:0;
	width: 100%;
}
.container-fluid{
	padding:0;
}

/* navigation--------------------------------------------start */
	.navbar{
		display: flex;
		flex-direction: row nowrap;
		justify-content: space-between;
		height:50px;
		z-index: 100;
		left:0;
		right:0;
		background-color:var(--color-main);
		box-shadow: 0px 0px 3px var(--color-shadow);
		transition: 0.5s;
		padding:0px 10px ;
	}
	.navbar_fixed{
		position: fixed;
		top:0;
	}
	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 101;
		font-weight:500;
		font-size: 20px;
		color:var(--color-text);
	}
	/* nav-list setting-----------------------start */
		.menu{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			height: 0;
			transition: height 1s;
			position: absolute;
			top:0;
			right:0;
			left: 0;
			background-color: var(--color-main);
		}
		.toggle_menu{
			width: 100vw;
			height:100vh;
		}
		ul{
			list-style: none;
			padding: 0;
		}
		.nav-list{
			top:50px;
			height:50px;
		}
		.nav-item{
			display: flex;
			justify-content: center;
			padding:15px 0px;
		}
		.nav-link{
			display: block;
			color:var(--color-text);
			font-size:20px;
			font-weight:500;
			text-decoration: none;
			transition: all 0.3s;
			height:100%;
		}
		.nav-link:hover{
			color: var(--color-text);
		}
		.nav-link::after{
			display: block;
			opacity:0;
			content: "";
			height:2px;
			background-color: var(--color-text);
		}
		.nav-item:hover .nav-link::after{
			animation: l2r 0.25s linear forwards;
		}
		@keyframes l2r{
			0%{width:0;}
			100%{opacity:1; width:100%;}
		}
		.dropdown{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.dropdown-menu{
			display: flex;
			opacity: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			border:none;
			background-color: var(--color-main);
		}
		.dropdown-item{
			color: var(--color-text);
			text-align: center;
			pointer-events: none;
			font-weight:500;
		}
		.dropdown-item:hover{
			color: var(--color-main);
		}
		.show{
			opacity: 1;
			pointer-events: auto;
		}
		.click{
			pointer-events: auto;
		}
		/* nav-list setting-----------------------end */
	/* ham-basic setting----------------------start */
		label{
			margin: 0;
		}
		.ham{
			display: block;
			position: relative;
			z-index: 1000;
			width:50px;
			height:50px;
		}
		.ham-bar--origin{
			position: absolute;
			top:50%;
			left:50%;
		}
		.ham-bar{
			height:3px;
			width:30px;
			background-color: #fff;
			margin:-2px 0 0 -15px;
			transition: 0.3s;
		}
		.ham-bar--top{
			transform: translateY(-7px);
		}
		.ham-bar--bottom{
			transform: translateY(7px);	
		}
		#nav-toggle{
			display: none;
		}
	/* ham-basic setting----------------------end */

	/* while clicking on hamburger ----------------start*/

		#nav-toggle:checked ~ .ham .ham-bar--middle{
			display: none;
		}
		#nav-toggle:checked ~ .ham .ham-bar--top{
			transform: rotate(45deg);
		}
		#nav-toggle:checked ~ .ham .ham-bar--bottom{
			transform: rotate(-45deg);
		}
	/* while clicking on hamburger ----------------end*/
/* navigation--------------------------------------------end */


/* 主頁---------------------------------------------------------start */
/* content--------------------------------------------start */
/* 共同設定-------------------------------------start */
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom:50px;
	padding-top:50px;
	width:100%;
}
.block{
	padding-top:30px;
	padding-bottom:30px;
}
h1{
	color: var(--color-main);
	text-align: center;
	font-size:24px;
	padding:10px 0;
	width: 100%;
}
h2{
	font-size: 20px;
	text-align: center;
	width: 100%;
}
h3{
	font-size: 16px;
	text-align: center;
	width: 100%;
	padding-top:20px;
}
p{
	text-align: center;
}
.img_block-item{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center; 
}
.img-set{
	width:280px;
	height:180px;
	background-color: var(--color-main);
}

.btn-style{
	background-color: var(--color-main);
	border: 2px solid var(--color-main);
	margin-top:20px;
	padding:5px 10px;
	border-radius:25px;
	color:var(--color-text);
	font-weight:500;
}
.btn-style:hover{
	color:var(--color-main);
	background-color: transparent;
}
.hint_word{
	color: var(--color-warning);
	font-weight:500;
}
/* 共同設定---------------------------------------end */

/* 小遊戲區-------------------------------------start */
.sec_game{
	display: flex;
	justify-content: center;
	align-items: center;
}
.game_btn_sec{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.game-btn{
	margin:20px;
}
.game_highlight_word{
	font-size: 20px;
	font-weight: 500;
	color: var(--color-main);
}
.game_small_sec{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game_small_sec p{
	font-weight:500;
}
.game_small_row{
	display: flex;
	flex-direction:row;
	align-items: flex-end;
}
.game_img{
	width:150px;
	height:100px;
	background-color: var(--color-main);
	margin:10px 20px;
}
.game_bar_sec{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rangebar {
  -webkit-appearance: none;
  width: 400px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rangebar:hover {
  opacity: 1;
}

.rangebar::-webkit-slider-thumb {
  -webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
  width: 23px;
  height: 24px;
  border: 0;
  background-color: var(--color-main);
  cursor: pointer;
}

.rangebar::-moz-range-thumb {
  width: 23px;
	height: 24px;
	border-radius: 50%;
  border: 0;
  background-color: var(--color-main);
  cursor: pointer;
}
/* 小遊戲區---------------------------------------end */


/* 計畫介紹-------------------------------------start */
.plan_img_sec{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}
.plan_img{
	display: inline-block;
	flex-basis: 100%;
	max-width: 300px;
	height:200px;
	background-color: var(--color-main);
}
.plan_img:first-child, .plan_img:last-child{
	background-color: var(--color-second);
}
/* 計畫介紹---------------------------------------end */


/* 如何使用-------------------------------------start */
.use_GIF{
	width:300px;
	height:250px;
	background-color:var(--color-main);
}
.usage_subtitle{
	padding-left:20px;
}
.usage_block1{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.usage_block1-right{
	padding-top:20px;
	flex-direction: column;
	width:350px;
}
.usage_block1-left, .usage_block1-right{
	display: flex;
	justify-content: center;
	align-items: center;
}
.usage_block3,.usage_block4{
	width:100%;
}
.google_map{
	display: block;
}
/* 如何使用---------------------------------------end */
/* 關於合作-------------------------------------start */
.see-more-btn{
	width: 250px;
}
/* 關於合作---------------------------------------end */
/* content--------------------------------------------end */


/* footer------------------------------------------------start */
footer{
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:200px;
	position: relative;
	bottom: 0;
	width:100vw;
	background-color: var(--color-main);
}
.footer_text{
	color: var(--color-text);
	font-weight:500;
	height:40px;
}
.footer_fb_icon{
	width:40px;
	height:40px;
	background: url(../asset/facebook.png) center/contain no-repeat;
}
/* footer------------------------------------------------end */

/* go-to-top button------------------------------------start */
#top_button{
	position: fixed;
	bottom: 10px;
	right:10px;
	width:40px;
	height:40px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: var(--color-main);
	box-shadow: 0px 0px 5px var(--color-shadow);
}
.top_button::before, .top_button::after{
	content: "";
	background-color: #fff;
	display: block;
	width:15px;
	height:2px;
	position: absolute;
	top:45%;
	animation: ease-in-out jump 1s both infinite;
}
.top_button::before{
	left:19%;
	transform: rotate(-45deg);
}
.top_button::after{
	right:19%;
	transform: rotate(45deg);
}
@keyframes jump{
	0%{top:40%;}
	50%{top:65%;}
	100%{top:40%;}
}
/* go-to-top button--------------------------------------end */

/* 主頁-------------------------------------------------------------end */

/* 登入登出--------------------------------------------------------start */
.log_card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top:25vh;
	height:260px;
	border-radius: 5px;
	box-shadow:0px 0px 5px 0px #cccccc;
	overflow: hidden;
}
.log_head{
	left: 0;
	right:0;
	background-color: var(--color-main);
	height:50px;
}
.log_head p{
	line-height: 50px;
	color: var(--color-text);
}
.log_table{
	padding:30px 20px 20px 20px;
}
.log_bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:20px;
}
.log_btn{
	background-color: var(--color-main);
	color: var(--color-text);
	padding:5px 20px;
}
.log_btn:hover{
	box-shadow:0px 0px 5px 0px var(--color-main);
}
td{
	padding: 5px 5px;
}
input{
	height: 35px;
	border-radius: 3px;
	border: 1px solid var(--color-second);
}


/* 登入登出--------------------------------------------------------end */
@media only screen and (min-width:650px){
	.logo{
		z-index: 1;
	}
	.ham{
		display: none;
	}
	.nav-toggler{
		display: flex;
		justify-content: space-between;
	}
	.logo{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.menu{
		flex-direction: row;
		justify-content: flex-end;
		top:0;
		float: right;
		height: 50px;
		transition: none;
		background-color: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.nav-list{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		justify-content: flex-start;
	}
	.nav-item{
		padding:0px 20px;
	}
	.nav-link{
		font-size: 18px;
	}
	.plan_img_sec{
		width:600px;
	}
	.plan_img{
		flex-basis: 50%;
	}
	.img_block-item{
		flex-direction: column; 
	}
	.usage_subtitle{
		text-align: left;
	}
	.usage_block1{
		flex-direction: row;
	}
	.usage_block1-left{
		justify-content: flex-start;
	}
	.usage_block1-right{
		padding-left:20px;
		align-items: flex-start;
	}
	.navbar{
		background-color: none;
	}
	.nav-list{
		height:30px;
	}
	.dropdown{
		flex-direction: column;
		align-items: initial;
	}
	.dropdown-menu{
		top:45px;
		position: absolute;
	}
	.menu{
		background-color: transparent;
		top:0;
		height:150px;
		flex-direction: row;
		align-items: flex-start;
	}
	.nav-link{
		padding:0px;
	}
}