{% extends "base_generic.html" %}

{% block content %}
<div class="log_card">
  <div class="log_head">
    <p>登入</p>
  </div>
  {% if form.errors %}
    <p class="log_warning_word">你的帳號或密碼不對哦</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class="log_warning_word">你是不是到了不該進來的地方惹</p>
    {% else %}
      <p class="log_warning_word">請登入</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}  
    <div class="log_table">
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
    </div>
    <div class="log_bottom">
      <!-- <a class="forget" href="{% url 'password_reset' %}">忘記密碼？</a> -->
      <input type="submit" value="login" class="btn btn-default log_btn" />
    </div>
  </form>
</div>
{% endblock %}