{% extends "base_generic.html" %}

{% block head %}
  杯子管理後台
{% endblock %}

{% block content %}

  <div class="card col-md-12">
    <div class="card-header">目前共 <span class="highlight-text">{{ cup_list|length }} </span>個杯子</div>
    <div class="card-body table_sec">
      <table class="col-md-8 col-lg-7 table table-hover">
        <thead class="table-head">
          <tr>
            <th class="th-id" scope="col">ID</th>
            <th scope="col">交給顧客</th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for cup in cup_list %} 
        <tbody>
          <tr>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="cup_id" value="{{ cup.id }}">
              <td><div class="table_id">{{ cup.pk }}</div></td>
              <td>{{ form.customer }}</td>
              <td><input type="submit" name="submit" class="btn btn-style send-btn" value="Send"></td>
            </form>
          </tr>
        </tbody>
        {% empty %}
          <p> 你沒有杯子庫存，去申請吧 </p>
        {% endfor %}
      </table>     
    </div>
  </div>
  <div class='btn-area col-12'>
    <a href="{% url 'business-request-cups' %}" class='btn co-btn btn-style'>申請杯子</a>
    <a href="{% url 'business-receive-cups' %}" class='btn co-btn btn-style'>收回杯子</a>
  </div>
  
{% endblock %}