{% extends "base_generic.html" %}

{% block head %}
  杯子管理後台
{% endblock %}

{% block content %}

  <div class="card col-md-12">
    <div class="card-header">目前共 <span class="highlight-text">{{ n_cups }} </span>個杯子</div>
    <div class="card-body table_sec">
      <table class="col-md-8 col-lg-7 table table-hover">
        <thead class="table-head">
          <tr>
            <th class="th-id" scope="col">ID</th>
            <th scope="col">交給顧客</th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for cup in cup_list %} 
        <tbody>
          <tr>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="cup_id" value="{{ cup.id }}">
              <td><div class="table_id">{{ cup.pk }}</div></td>
              <td>{{ assign_form.customer }}</td>
              <td><input type="submit" name="submit" class="btn send-btn" value="Send"></td>
            </form>
          </tr>
        </tbody>         
        {% endfor %}
      </table>     
    </div>
  </div>
  <div class='btn-area col-12'>
    <button type="button" class="btn co-btn btn-style" data-toggle="modal" data-target="#requestModal">
    申請杯子
    </button>
    <button type="button" class="btn co-btn btn-style" data-toggle="modal" data-target="#receiveModal">
    拿回杯子
    </button>
  </div>

<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">申請杯子</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <div class="x-origin" aria-hidden="true">
                <span class="x-icon x-icon-l"></span>
                <span class="x-icon x-icon-r"></span>
              </div>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'business-request-cups' %}" method="post" class="input-area">
          {% csrf_token %}
          {{ request_form }}
          <input type="submit" value="提交" name="submit" class="btn input-btn-style">
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="receiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">拿回杯子</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div class="x-origin" aria-hidden="true">
            <span class="x-icon x-icon-l"></span>
            <span class="x-icon x-icon-r"></span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'business-request-cups' %}" method="post" class="input-area">
          {% csrf_token %}
          {{ receive_form }}
          <input type="submit" value="提交" name="submit" class="btn input-btn-style">
        </form> 
      </div>
    </div>
  </div>
</div>

{% endblock %}