<div class="row game_outcome">
  <div class="col-sm-12 col-md-4 game_small_sec">
        <div class="game_img game_img1"></div>
        <p><span class="game-scalable a3-1"></span>  個你</br>一樣高的免洗杯垃圾</p>
  </div>
  <div class="col-sm-12 col-md-4 game_small_sec">
        <div class="game_img game_img2"></div>
        <p><span class="game-scalable a3-2"></span>  kg的水</br>相當於可以洗 <span class="game-scalable a3-3"></span> 次澡</p>
  </div>
  <div class="col-sm-12 col-md-4 game_small_sec">
        <div class="game_img game_img3"></div>
        <p><span class="game-scalable a3-4"></span>  kg排碳</br>相當於樹 <span class="game-scalable a3-5"></span> 天的固碳量</p>
  </div>  
</div>