{% extends "base_generic.html" %}
{% block content %}
  <div class="col-12 sec_game block" id="sec_game">
    <h1 class="sec_title">小遊戲</h1>
  </div>
  <div class="col-12 sec_plan block" id="sec_plan">
    <h1 class="sec_title">計畫介紹</h1>
    <h2 class="sec_subtitle pt-2 pb-2">方便的免洗杯，其實帶來身體與環境的不便？</h2>
    <div class="plan_img_sec">
      <div class="plan_img"></div>
      <div class="plan_img"></div>
      <div class="plan_img"></div>
      <div class="plan_img"></div>
    </div>
    <div class="plan_text_sec">
    </div>
  </div>
  <div class="col-12 sec_usage block" id="sec_usage">
    <h1 class="sec_title">如何使用</h1>
    <iframe class="google_map" width='100%' height='400' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台北市新生南路三段90號&z=16&output=embed&t='></iframe>
  </div>
  <div class="col-12 sec_cooperation block" id="sec_cooperation">
    <h1 class="sec_title">我想合作</h1>
    <form action="#">
      <button type="submit" value="了解更多">了解更多</button>
  </form>
  </div>
  <footer>
    <div class="footer_text">一起讓世界變好吧！</div>
    <a class="footer_fb_icon" href="https://www.facebook.com"></a>
  </footer>
{% endblock %}