{% extends "base_generic.html" %}

{% block content %}
  <div class="col-12 pt-5 sec_game section" id="sec_game">
    <div class="col-12 slideshow-container">
      <div class="col-12 col-lg-10 game-slide">
        <h1>小遊戲</h1>
        <div class="game_logo bg-circle bg3">
          <img src="../static/asset/1x/logo.png" alt="" class="game_start">
        </div>
        <p class="col-12 game_intro">
          台灣蔚為手搖杯王國，對許多人來說，</br>
          喝飲料就像是呼吸一樣平常的事情，</br>
          喝飲料使用外帶杯更是理所當然。</br>
          魔鬼藏在細節裡，這理所當然的事情，</br>
          我們還是想問一句，你不好奇...
        </p>
        <p class="col-12 game_highlight_word">
          外帶飲料會造成什麼影響嗎？
        </p>
        <div class="col-12 game_btn_sec">
          <button class="game-btn" id="q1-1" type="submit" value="想～">想～</button>
          <button class="game-btn" id="q1-2" type="submit" value="姑且聽之">姑且聽之</button>
        </div>
      </div>
      <div class="col-12 col-lg-10 game-slide">
        <h1>小遊戲</h1>
        <p class="col-12 game_big_word">
          我一週用免洗杯喝了<span><input type="number" min=0 name="q2-drinks" id="q2-drinks"></span>  杯飲料
        </p>
        <p class="col-12 game_big_word">
          我的身高<span><input type="number" min=0 name="q2-drinks" id="q2-drinks"></span>  公分
        </p>
        <p class="col-12 hint_word">（請輸入阿拉伯數字）</p>
        <div class="game_btn_sec">
          <button class="col-sm-10 col-md-5 game-btn game-btn2" id="q2" type="button" value="看結果">看結果</button>
        </div>
      </div>
      <div class="col-12 col-lg-10 game-slide">
        <h1>小遊戲</h1>
        <div class="col-12 game_content">
          <h2 class="col-12 game_title">
            你每年相當於消耗了...
          </h2>
          <div class="row game_outcome">
            <div class="col-sm-12 col-md-4 game_small_sec">
                  <div class="game_img game_img1"></div>
                  <p><span class="a3-1"></span> 個你</p>
              <p>一樣高的免洗杯垃圾</p>
            </div>
            <div class="col-sm-12 col-md-4  game_small_sec">
                  <div class="game_img game_img2"></div>
                  <p><span class="a3-2"></span> kg的水</p>
              <p>相當於可以洗 <span class="a3-3"></span> 次澡</p>
            </div>
            <div class="col-sm-12 col-md-4  game_small_sec">
                  <div class="game_img game_img3"></div>
                  <p><span class="a3-4"></span> kg排碳</p>
              <p>相當樹 <span class="a3-5"></span>天的固碳量</p>
            </div>  
          </div>
          <p class="col-12 game_highlight_word">
            如果你帶環保杯，能帶來不小改變
          </p>
        </div>
        <div class="col-12 game_btn_sec">
          <button class="col-sm-10 col-md-5 game-btn game-btn2" id="q3" type="submit" value="怎麼說？">怎麼說？</button>
        </div>
      </div>
      <div class="col-12 col-lg-10 game-slide">
          <h1>小遊戲</h1>
          <div class="col-12 game_content">
            <h2 class="col-12 game_title">
              您每年相當於消耗了...
            </h2>
            <div class="row game_outcome">
              <div class="col-sm-12 col-md-4 game_small_sec">
                    <div class="game_img game_img1"></div>
                    <p><span class="game-scalable a3-1"></span>  個你</br>一樣高的免洗杯垃圾</p>
              </div>
              <div class="col-sm-12 col-md-4 game_small_sec">
                    <div class="game_img game_img2"></div>
                    <p><span class="game-scalable a3-2"></span>  kg的水</br>相當於可以洗 <span class="game-scalable a3-3"></span> 次澡</p>
              </div>
              <div class="col-sm-12 col-md-4 game_small_sec">
                    <div class="game_img game_img3"></div>
                    <p><span class="game-scalable a3-4"></span>  kg排碳</br>相當於樹 <span class="game-scalable a3-5"></span> 天的固碳量</p>
              </div>  
            </div>
            <div class="col-12 game_bar_sec">
              <p class="col-12 hint_word">（請移動圈圈）</p>
              <input type="range" min="1" max="100" value="50" class="rangebar" id="slider">
            </div>
            <p class="col-12 pt-5 game_highlight_word">
              滴水穿石，許多的努力往往不是馬上見效，</br>
              但如果你持續更久的時間呢？
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="col-12 sec_plan section" id="sec_plan">
    <h1>計畫介紹</h1>
    <h2>方便的免洗杯，其實帶來身體與環境的不便？</h2>
    <div class="row plan_img_sec">
      <div class="col plan_img plan_img1"></div>
      <div class="col plan_img plan_img2"></div>
      <div class="col plan_img plan_img3"></div>
      <div class="col plan_img plan_img4"></div>
      <!-- <a class="switch_el prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="switch_el next" onclick="plusSlides(1)">&#10095;</a> -->
    </div>
    <div class="link_dots_sec">
      <span class="switch_el link_dot" id="link_dot1" onclick="currentSlide(1)"></span>
      <span class="switch_el link_dot" id="link_dot2" onclick="currentSlide(2)"></span>
      <span class="switch_el link_dot" id="link_dot3" onclick="currentSlide(3)"></span>
      <span class="switch_el link_dot" id="link_dot4" onclick="currentSlide(4)"></span>
    </div>
    <p class="pt-4 plan_text_sec">
      我們是一群台大的學生，</br>
      針對以上問題提出了解決辦法，</br>
      創造一個城市等級的環保杯循環系統
    </p>
  </div>
  <div class="col-12 sec_usage section" id="sec_usage">
    <div class="block col-12 usage_block">
      <h2>如何進行？非常簡單！</h2>
      <div class="process_sec">
        <div class="process_row">
          <div class="process_card">
            <div class="process_head">
              STEP 1
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img1"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                到任一合作店家買飲料
              </p>
            </div>
          </div>
          <div class="process_card">
            <div class="process_head">
              STEP 2
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img2"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                  選用環保租借杯
              </p>
            </div>
          </div>
          <div class="process_card">
            <div class="process_head">
              STEP 3
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img3"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                  支付押金
              </p>
            </div>
          </div>
        </div>
        <div class="process_row">
          <div class="process_card">
            <div class="process_head">
              STEP 4
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img4"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                  享受美好的飲品
              </p>
            </div>
          </div>
          <div class="process_card">
            <div class="process_head">
              STEP 5
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img5"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                  交還杯子到任一合作店家
              </p>
            </div>
          </div>
          <div class="process_card">
            <div class="process_head">
              STEP 6
            </div>
            <div class="process_img_sec">
              <div class="process_img process_img6"></div>
            </div>
            <div class="process_text_sec">
              <p class="process_text">
                拿回押金
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "block col-12 usage_block">
      <h2>我們想帶給你...</h2>
      <div class="row img_block-content">
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg1 bg-circle">
            <div class="img-set usage_img1"></div>
          </div>
          <div class="img-content">
            <h3>輕鬆環保</h3>
            <p>不用再洗杯、帶杯、感覺麻煩店家</p>
          </div>
        </div>
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg2 bg-circle">
            <div class="img-set usage_img2"></div>
          </div>
          <div class="img-content">
            <h3>省錢好賺</h3>
            <p>環保杯飲料可折扣2元以上</p>
          </div>
        </div>
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg3 bg-circle">
            <div class="img-set usage_img3"></div>
          </div>
          <div class="img-content">
            <h3>安心健康</h3>
            <p>食用級無雙酚A材質+衛生檢測</p>
          </div>
        </div>
      </div>
    </div>
    <div class="block col-12 usage_block">
      <h2>聽起來很理想化？</h2>
      <p>我們正在把理想變成真實，</br>看看我們的試營運計畫影片吧！</p>
      <iframe class="video" src="https://www.youtube.com/embed/FaUgsf2b4Q8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="block col-12 usage_block">
      <h2>合作店家有哪些？</h2>
      <p>目前推動台大校內飲料店家合作中</p>
      <iframe class="google_map" width='100%' height='400px' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台北市新生南路三段90號&z=16&output=embed&t='></iframe>
    </div>
  </div>
  <div class="col-12 sec_cooperation section" id="sec_cooperation">
    <h1>關於合作</h1>
    <h2>為什麼你該成為我們的夥伴？</h2>
    <div class="row img_block-content">
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg-circle bg1">
              <div class="img-set coop_img coop_img1"></div>
          </div>
          <div class="img-content">
            <h3>環保形象</h3>
            <p>讓你的消費者知道</br>你的良好理念</p>
          </div>
        </div>
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg-circle bg2">
            <div class="img-set coop_img coop_img2"></div>
          </div>
          <div class="img-content">
            <h3>省錢好賺</h3>
            <p>網站曝光增加、</br>循環機制接觸新客</p>
          </div>
        </div>
        <div class="col-12 col-lg img_block-item img-card">
          <div class="bg-circle bg3">
            <div class="img-set coop_img coop_img3"></div>
          </div>
          <div class="img-content">
            <h3>安心健康</h3>
            <p>重複洗杯、用杯</br>節省緩洗杯成本</p>
          </div>
        </div>
      </div>
      <form action="#">
        <button class="see-more-btn btn-style" type="submit" value="了解更多">了解更多</button>
      </form>
  </div>
  <button onclick="toTop()" class="top_button" id="top_button" title="go to top"></button>
  <footer class="col-12">
    <a class="footer_fb_icon" href="https://www.facebook.com"></a>
    <div class="footer_text pt-4">All right reserved by BevereUsage</div>
  </footer>
{% endblock %}